{% extends 'main.html' %}

{% block content %}
    {% for message in message_request %}
    {% if message.sender.id == sender.id %}
    <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{message.subject}}</h2>
          <a href="{% url 'user-profile' sender.id %}" class="message__author">{{message.sender_name}}</a>
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">{{message.body|linebreaksbr}}
          </div>
      </div>
        {% if message.id == this_message.id %}
      <a class="tag tag--pill tag--sub tag--lg" href="{% url 'delete-message' message.id %}">Delete message<i
                  class="im im-x-mark-circle-o"></i></a>
      <a href="{% url 'send-message' sender.id %}" class="tag tag--pill tag--sub tag--lg">Send message to {{sender}}</a>
    </div>
        {% for sent_massage in sender_message_request %}
        {% if sent_massage.sender.id == profile.id %}
        <main class="messagePage my-xl" >
            <div class="content-box" >
              <div class="message">
                <h2 class="message__subject">{{sent_massage.subject}}</h2>
                  <a href="{% url 'user-profile' sender.id %}" class="message__author">{{sent_massage.sender_name}}</a>
                  <p class="message__date">{{ sent_massage.created }}</p>
                  <div class="message__body">{{sent_massage.body|linebreaksbr}}
                  </div>
              </div>
            {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endfor %}

{% endblock content %}