{% extends 'main.html' %}

{% block content %}
  <!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Players</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="{% url 'players' %}" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Player </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                placeholder="Search by player name" value="{{search_query}}" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
            {% for player in players %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'player' player.id %}" class="project">
                <img class="project__thumbnail" style='max-width:250px;' src="{{player.featured_image.url}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{player.title}}</h3>
                  {% if player.owner.id %}
                  <p><a class="project__author" href="{% url 'user-profile' player.owner.id %}">Owner: {{player.owner.name}} </a></p>
                  {% endif %}
                  {% if player.owner.id == profile.id %}
                  <p><a class="project__author" href="{% url 'update-player' player.id %}">Update</a>
                  <a class="project__author" href="{% url 'delete-player' player.id %}">Delete</a></p>
                  {% endif %}
                  <p class="project--rating">
                    <span style="font-weight: bold;">{{player.vote_ratio}}%</span> Positive
                    Feedback {{ player.vote_total }} Vote{{player.vote_total|pluralize:"s"}}
                  </p>
                  <div class="project__tags">
                    <span class="tag tag--pill tag--main">
                     {% for tag in player.tags.all %}
                      <small>{{tag}}</small>
                      {% endfor %}
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    {% include 'pagination.html' with queryset=players search_query=search_query %}
  </main>

{% endblock content %}
